@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

nav, nav ul, .main-content, .main-content .card, .main-content .card, .btn, .footer, .footer .social, .footer .social .fa {
    display: flex;
    justify-content: center;
    align-items: center;
}